<section class="w-75 mx-auto bg-main-light my-5 p-5">
        @for (item of wishlistDetails; track item._id) {
            <div class="row   border-bottom py-4 ">
                <div class="col-md-2 ">
                    <div>
                        <img [src]="item.imageCover" [alt]="item.title" class="w-100">
                    </div>
                </div>
         
                <div class="col-md-10 my-auto d-flex align-items-center justify-content-between">
                    <div >
    <h3 class="h4 fw-bold">{{item.title}}</h3>
    <p class="fw-bold">Price : <span class="text-main">{{item.price}} EGP</span></p>
    <button class=" btn-main" (click)="deleteProduct(item._id)"> Remove Product</button>
                    </div>
                    <div>
                        <button class=" btn-main  p-x-5 text-center fw-bold" (click)="addToCart(item._id)">Add to cart</button>
                        
                            </div>
                </div>
             
             </div>
            
        }
    
    
    
</section>
